<?xml version="1.0"?>
<ruleset name="telegram-bot-api">
    <description>The coding standard of telegram-bot-api package</description>
    <arg value="p" />

    <config name="ignore_warnings_on_exit" value="0" />
    <config name="ignore_errors_on_exit" value="1" />

    <arg name="colors" />
    <arg value="s" />

    <rule ref="PSR12" />
</ruleset>